* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    padding: 20px 10px;
    max-width: 1400px;
    width: 50%;
    border: 5px solid red;
    
}

.galeria img {
    width: 100%;
    max-width: 350px;
    height: 300px;   
    padding: 5px;
    object-fit: cover;
    border: 5px solid blue;
    border-radius: 10px;
}

.galeria::after {
    content: "";
    width: 350px;
}
